<div class="container">
        <div class="grid header">Header</div>
        <div class="grid hero">Hero</div>
        <div class="grid sidebar">Sidebar</div>
        <div class="grid content">Main Content
          <p>**If things do not look right, make sure your browser is in "Experimental Mode".</p>
        </div>
        <div class="grid extra">Extra Content</div>
        <div class="grid related-images">Related Images</div>
        <div class="grid related-posts">Related Posts</div>
        <div class="grid footer">Footer</div>
      </div>