h1,
p {
  font-family: "DM Serif Display", serif;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20vw;
  margin-right: 20vw;
}
